*~
*.pyc
*.user
#*#
JupiterNotebooks/
catkin_ws/src/stage02_meta/scrips
catkin_ws/src/stage03_vision/scripts/degub.txt
Media/output_contors.png
catkin_ws/src/stage03_vision/scripts/debug_stage03.ipynb